.venv
__pycache__/*

experiments/baseline_tests/*
data/raw/coco/val2017/*

.DS_Store
**/.DS_Store

# Vim swp files
.swp
**/*.swp

# Log files
**/*.log

# Old and new files
**/*.old
**/*.new


# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Backup files # 
*.bak 